* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/*Utility class */
.padding-x {
  padding: 0 100px;
}

.nav-selected {
  color: blue;
  border-bottom: 5px solid blue;
}
.bold {
  font-weight: bold;
}
.back-white {
  background-color: whitesmoke;
}
.back-yellow {
  background-color: yellowgreen;
}

/* Regole pagina */

/*Regole Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
header figure {
  margin: auto 0;
}
header nav ul {
  display: flex;
}
header nav a {
  display: block;
  height: 100%;
  padding: 50px 0;
  margin: 0 8px;
  font-weight: 600;
  font-size: small;
  border-bottom: 5px solid transparent;
}
header nav a:hover {
  color: blue;
  border-bottom: 5px solid blue;
}

/*Regole Main*/
main .jumbotron {
  background-image: url(assets/img/jumbotron.jpg);
  background-size: cover;
  height: 300px;
}
main .container-cards {
  padding: 50px 100px;
  width: 100%;
  background-color: #303030;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
main .badge {
  position: absolute;
  z-index: 1;
  background-color: #0282f9;
  padding: 8px 15px;
  color: white;
  font-weight: bold;
  font-size: large;
  transform: translate(0, -50%);
  left: 100px;
}

main .card {
  width: calc((100% / 6) - (100px / 6));
}

main .card:hover {
  cursor: pointer;
}

main .card figure {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
}
main .card .activate-hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(13, 13, 13, 0.5);
  top: 0px;
  text-align: center;
}
main .card .activate-hover h4 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  margin: 50% 0;
  transform: translate(0, -50%);
}
main .card:hover .activate-hover {
  display: block;
}
main .card figure img {
  max-width: 100%;
  transform: scale(1.5);
}
main .card .series {
  color: white;
  padding-top: 10px;
}
main .button-load-more {
  width: 100%;
  background-color: #303030;
  text-align: center;
  padding-bottom: 30px;
}
main .button-load-more button {
  background-color: #0282f9;
  color: white;
  padding: 10px 50px;
}
.d-none {
  display: none;
  position: absolute;
  z-index: 900;
  width: calc(100% / 6);
  transform: translate(-10%, 0);
  padding: 20px;
  color: black;
  text-align: center;
}
main #miaCheckbox:checked ~ .d-none {
  display: block;
}

/*Regole Footer */

/*Regole Nav-buy*/
footer .container-all-buy {
  display: flex;
  justify-content: space-between;
  background-color: #0282f9;
  color: white;
}
footer .cointainer-buy {
  width: 18%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

footer .icon-buy {
  max-width: 50px;
  height: 50px;
}
footer .decription-buy {
  padding-left: 5px;
  color: white;
  font-size: small;
}

/*Regole Nav-List*/
.container-nav-list {
  background-image: url(assets/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.container-nav-list nav {
  display: flex;
  color: gray;
  font-size: small;
}
.container-nav-list nav .col {
  padding: 40px 20px;
}
.container-nav-list nav .col .title {
  font-size: large;
  font-weight: bold;
  padding: 10px 0;
  color: white;
}
.container-nav-list nav .col a:hover {
  color: white;
}
.container-nav-list figure {
  position: absolute;
  right: 50px;
  top: -100px;
  width: 500px;
}
.container-nav-list figure img {
  max-width: 100%;
}
/*Regole Sign e Social Bar*/
.container-button-social {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container-button-social button {
  padding: 10px;
  background-color: inherit;
  border: 2px solid #0282f9;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.container-button-social .social-container {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 15px;
}
.container-button-social .social-container span {
  color: #0282f9;
  font-size: large;
  font-weight: bold;
  margin-right: 15px;
}
